{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators",{"legacy": true}],
    ["@babel/proposal-class-properties",{"loose": true}],
    "@babel/proposal-object-rest-spread"
  ]
}