{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "loose": true,
      "targets": {
        "browsers": "> 1%, not dead"
      }
    }],
    "@babel/typescript"
  ],
  "plugins": [
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/proposal-class-properties", {
      "loose": true
    }],
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-function-name",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime"
  ]
}