{
  "presets": [
    ["@babel/env", {
      "useBuiltIns": "usage",
      "corejs": "3.0.0",
      "targets": {
        "browsers": "> 0.25%, not dead"
      }
    }],
    "@babel/typescript"
  ],
  "plugins": [
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/proposal-class-properties", {
      "loose": true
    }],
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-block-scoping",
    "@babel/plugin-transform-function-name",
    "@babel/plugin-syntax-dynamic-import"
  ]
}